/* CSS RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img.logo{
    width: 36px;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.menu{
    display: none;
}

.container{
    display: flex;
    flex-direction: column;
}

.btn{
    text-decoration: none;
    display: inline-block;
}

/* HEADER */
header{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;
}

header .container{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100vw;
    padding: 0 50px;
    flex-wrap: wrap;
}

header img{
    display: block;
    height: 100%;
    width: auto;
}

header ul li{
    display: inline-block;
    list-style-type: none;
    margin: 20px 10px;
    cursor: pointer;
}

header li a{
    text-decoration: none;
    color:white
}

header ul li:hover{
    font-weight: bold;
}

.break-header{
    flex-basis: 100%;
    width: 0;
    display: none;
}


@media screen and (max-width: 660px) {
    header .container{
        margin-top: 18px;
    }

    header ul{
        display: none;
        border-radius: 10px;
        width: 100%;
        margin-top: 20px;
        padding: 10px;
        height: 0;
        overflow: hidden;
        opacity: 0;
        transition: all 500ms;
    }

    .show-menu{
        height: 150px;
        display: block;
        height: fit-content;
    }

    .animate-menu{
        opacity: 1;
    }

    header ul li{
        display: block;
    }

    .break-header{
        display: block;
    }

    .menu{
        display: block;
    }

    header .container{
        padding: 0 25px;
    }

}